@mixin gold-text {
    background: #fef924; /* Old browsers */
    background: -moz-linear-gradient(top,  #fef924 0%, #fef924 38%, #ffc507 44%, #f9e107 100%, #f9e107 100%, #f1da36 100%, #f1da36 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fef924 0%,#fef924 38%,#ffc507 44%,#f9e107 100%,#f9e107 100%,#f1da36 100%,#f1da36 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fef924 0%,#fef924 38%,#ffc507 44%,#f9e107 100%,#f9e107 100%,#f1da36 100%,#f1da36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(2px 2px #262000);
}
@mixin rows-styles {
    box-sizing: border-box;
    border: 1px solid olive;
    display: flex;
    background-color: rgba($color: yellow, $alpha: 0.01);
}
@mixin offer-thumbnail {
    display: inline-block;
    width: 40%;
    height: 40px;
    margin: 15px -10px;
    padding: 0 2px;
}
@mixin price-thumbnail {
    box-sizing: border-box;
            display: inline-block;
            width: 100%;
            background-color: rgba($color: yellow, $alpha: 0.06);
            align-items: center;
            display: flex;
            font-size: 1.1em;
}


#wrapper {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    background-image: url(/img/backgroundDesktop.png);
    width: 240px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: bottom right;
    overflow: hidden;
    .flex-container {
        position: relative;
        display: flex;
        flex-direction: column;
        color: white;
        top: 28%;
    .fire {
        width: 470px;
        height: 100px;
        position: absolute;
        z-index: 0;
        top: -75px;
        left: -100px;
        transform: scale(.5);
        background-image: url("/img/fire-sprite.png");
        animation: playX 1s steps(30) infinite;
    }
        
        @keyframes playX {
          from {background-position-x: 0px;}
          to {background-position-x: -12600px;}
        }
    .first-row {
        background-color:#BB140D;
        margin: 0 10px;
        height: 155px;
        box-shadow: inset 0 0 10px orange, 0 0 10px orange;
        z-index: 10;
        img {
            width: 100%;
            transform: scale(1.65);
            margin-top: -7px;
        }
        #inner-container {
            position: relative;
            top: -36px;
            text-align: center;
            .top-price {
                box-sizing: border-box;
                display: inline-block;
                font-size: 1.7em;
                margin-bottom: 20px;
                @include gold-text;
            }
            .clock-label {
                border: 1px solid orangered;
                border-radius: 20px;
                padding: 8px 10px;
                background-color: #DC3805;
                box-shadow: 0 0 6px orange;
                box-sizing: border-box;
                display: inline-block;
                font-size: 0.6em;
                font-weight: normal;
                span {
                    color: #FFE100;
                    font-weight: bold;
                }
                    img {
                        width: 6px;
                        padding: 0 5px;
                    }
        }
        }

}
    .second-row {
        @include rows-styles;
        margin: 7px 10px;
        img {
            @include offer-thumbnail;
        }
        .price {
            @include price-thumbnail;

            label {
                margin: 2px;                 
                @include gold-text;
        }
       
    }
}
    .third-row {
        @include rows-styles;
        margin: 0 10px 10px 10px;
        img {
            @include offer-thumbnail;
        }
        .price {
            @include price-thumbnail;
            label {
                margin: 2px;
                .color-gradient {
                    @include gold-text;
                }
                .pays-before {
                    display: block;
                    font-size: 0.5em;
                    border: 1px;
                    border-radius: 10px;
                    padding: 3px;
                    margin-top: 5px;
                    background-color: #262000;
                    font-weight: normal;
                    span {
                        color: #FFE100;
                        font-weight: bold;
                        text-shadow: 2px 2px 2px #262000;
                    }
                }
            }
        }
    }
    }
}